.traingle{
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 8px solid #34d399; /* Change color as needed */
        margin-right: 8px; /* Adjust margin as needed */
      
}